# Git ignore for ESA Hera R-DAS project

# Large raw datasets from ESA (do not push 200MB archives)
podklady/*.tar.gz
podklady/AFC_images/

# Compiled SPARC binaries and objects
*.o
*.elf
*.bin
*.a
*.so
*.out

# Python cache & scratch
__pycache__/
*.pyc
.system_generated/
scratch/

# OS specific
desktop.ini
Thumbs.db
.DS_Store
